@model WeatherReport.Web.Models.GetGeoLocationsResponse

<!DOCTYPE html>
<html ng-csp="no-unsafe-eval" ng-app="app"  class="responsive">
<head>
    <base href="@Url.Content("~/")">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body id="pageContainer">
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
