@using UILibrary.Mvc.Helpers
@model WeatherReport.Web.Models.GetGeoLocationsResponse

<!DOCTYPE html>
<html ng-csp="no-unsafe-eval" ng-app="app" data-api-version="@ViewBag.Version" class="responsive">
<head>
    <title>@ViewBag.Title</title>
    @Html.ScriptInclude("app.css", "src")
</head>
<body id="pageContainer">
<div class="container body-content">
   @RenderBody()
</div>
</body>
</html>
